<div class="wrapper py-1 d-flex align-items-center">
    <div class="menu-button-wrapper h-100 d-flex justify-content-start align-items-center ms-4 py-2">
        <div
            class="img-wrapper d-flex justify-content-center align-items-center"
            (click)="menuService.menuToggle()">
            <mat-icon [fontIcon]="'menu'"></mat-icon>
            <a class="ms-2 bold-link">Menu</a>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center justify-content-md-between" style="width: 80vw;">
        <div class="title-wrapper col-xs-4 py-4 border-dark d-flex mx-3 mx-md-0">
            <div class="img-wrapper p-0 p-md-3 d-flex align-items-center">
                <img src="../../assets/header/herb.png" alt="Herb">
            </div>
    
            <p class="title d-flex align-items-center ms-3 ms-md-0">
                <span>S</span>
                <span class="red-title-text">In</span>
                <span>F</span>
            </p>
    
            <p class="d-flex align-items-center m-0">
                <span>&nbsp;| System Informacji Finansowej</span>
            </p>
        </div>
    
        <div class="col-4 d-none d-sm-block d-md-none"></div>
        <div class="col-2 d-block d-sm-none"></div>

        <div class="user-wrapper col-xs-2 border-primary">
            <button class="user-button ps-4 pe-5 py-1">
                {{ menuService.getUsername() }}
            </button>
        </div>
    </div>
</div>

