<div class="wrapper">
    <div class="link-list-wrapper h-100">
        <ul class="h-100">
            <app-left-menu-item
                *ngFor="let item of menuService.getAll(); index as i"
                [title]="item"
                [hasList]="item !== 'Strona główna'"
                [iconName]="iconNames.get(item)"
                #menuItem
                [itemIndex]="i"
                (click)="menuService.setActiveIndex(i)">
            </app-left-menu-item>
        </ul>
    </div>
</div>