@import '../../variables';
@import '../../common';

.wrapper {
    position: sticky;
    left: 0;
    height: 100%;
    box-shadow: 2px 0 5px -2px #BABABA;

    .link-list-wrapper {
        ul {
            list-style-type: none;
            padding: 0;

            a:first-child > li {
                box-shadow: -8px 0px 0px 0px transparent;
            }

            a:first-child > li.active {
                margin-left: 4px;
                box-shadow: -4px 0px 0px 0px $link-color;
                transition: box-shadow 0.25s ease, margin 0.25s ease;
                background-color: $bg-highlight-color;

                img {
                    filter: brightness(0) saturate(100%) invert(21%) sepia(79%) saturate(2128%) hue-rotate(195deg) brightness(92%) contrast(105%);
                }

                .menu-link {
                    @include bold-text($color: $link-color);
                }
            }

            a {
                cursor: pointer;
            }

            a > li {
                min-height: 30px;
                line-height: max(30px, calc((56 / 1080) * 100%));
                height: calc((56 / 1080) * 100%);
                border-right: 1px solid rgba($light-border-color, 0.5);
                border-bottom: 1px solid rgba($light-border-color, 0.5);
                position: relative;

                span {
                    min-height: 30px;
                    line-height: 30px;
                }

                ul {
                    transition: all 0.5s ease-in-out;
                    height: 0;
                }

                &.active {
                    height: fit-content;

                    ul {
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        width: 100%;
                        transition: all 0.5s ease-in-out;
                        border-top: 1px solid rgba($light-border-color, 0.5);

                        li {
                            border-bottom: 1px solid rgba($light-border-color, 0.5);
                            border-left: 4px solid $link-color !important;
                        }
                    }

                    a {
                        p.menu-link::before {
                            @include icon-indicator($content: url('assets/left-menu/small-right-arrow.svg'), $left: 2rem);
                            filter: brightness(0) saturate(100%) invert(0%) sepia(64%) saturate(4474%) hue-rotate(6deg) brightness(83%) contrast(108%);
                        }

                        &.active {    
                            & > p.menu-link {
                                @include bold-text($color: $link-color);
                                background-color: $bg-highlight-color;
                            }

                            & > p.menu-link::before {
                                filter: none;
                            }
                        }
                    }
                }

                &.search::after {
                    @include icon-indicator($content: url('assets/header/down-arrow-icon.png'), $right: 0.8rem);
                    transition: 0.25s ease;
                }

                &.search.active::after {
                    @include icon-indicator($content: url('assets/header/down-arrow-icon.png'), $right: 0.8rem, $top: 0rem);
                    transform: rotate(180deg);
                    transition: 0.25s ease;
                }

                span {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .wrapper > .link-list-wrapper > ul > a > li > span, .menu-link {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 991px) {
    .menu-link {
        width: 50%;
    }
}


// @media only screen and (max-width: 767px) {
//     .wrapper {
//         width: 100%;
//     }
// }



