@import '../../variables';
@import '../../common';

.wrapper {
    position: sticky;
    left: 0;
    height: 100%;
    box-shadow: 2px 0 5px -2px #BABABA;

    .link-list-wrapper {
        ul {
            list-style-type: none;
            padding: 0;

            
        }
    }
}

@media only screen and (max-width: 1199px) {
    .wrapper > .link-list-wrapper > ul > a > li > span, .menu-link {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 991px) {
    .menu-link {
        width: 50%;
    }
}


// @media only screen and (max-width: 767px) {
//     .wrapper {
//         width: 100%;
//     }
// }



