<div class="wrapper">
    <li class="w-100 d-flex justify-content-start align-items-center flex-wrap search"
        [ngClass]="{ 'active': isActive, 'noList': !hasList }"
        (click)="navigate()">
        <mat-icon
            [fontIcon]="iconName"
            class="ms-2 me-3">
        </mat-icon>

        <a>
            <span class="menu-link">{{ title }}</span>
        </a>

        <ul *ngIf="hasList && isActive" class="d-flex flex-column">
            <li
                *ngFor="let item of menuService.get(title); index as i"
                class="d-flex">
                <a
                    (click)="onLinkClick(menuService.dashedNotation(item.title), $event, i)"
                    [routerLink]="'search/' + menuService.getLinkCategory(this.title) + '/' + menuService.dashedNotation(item.title)"
                    [ngClass]="{ 'active': i === menuService.getActiveLink() }"
                    class="d-flex justify-content-start align-items-center ps-4 w-100 h-100">
                    <mat-icon
                        fontIcon="arrow_right"
                        style="transform: scaleY(0.75);">
                    </mat-icon>
                    <p class="menu-link m-0">
                        {{ item.title }}
                    </p>
                </a>
            </li>
        </ul>
    </li>
</div>
